*.zip
*.tif
*.shp
*.dbf
*.shx
*.prj
*.cpg
*.geojson

NGA_*
Settlements_*

env/

nigeria_waterpoints_analysis.xlsx
nigeria_settlement_water_access.xlsx
nigeria_waterpoints_with_state_lga.xlsx
waterpoints_with_lga.xlsx
waterpoints_with_state_lga.xlsx